PORT=8000
MONGO_URI=mongodb+srv://userName:password@cluster0.m65dh.mongodb.net/ph-tour?appName=Cluster0
NODE_ENV=development

# JWT
JWT_SECRET="jwt-secret"
JWT_ACCESS_EXPIRES="10d"

# BCRYPT
BCRYPT_SALT_ROUND=10